<%- include('../partials/header') %>
    <main>
        <h1 class="mt-12 text-center text-2xl">Bienvenue <%= user.username %></h1>
        <h2></h2>
        <!-- <div id="request-btn" class="bg-amber-600  border h-8 rounded border text-white text-center w-36 mx-auto mt-12">Make a request</div>  -->
        <div id="dashboard" class="mt-12"></div>
    </main>
</body>
</html>